.personcare-maincontainer {
  display: flex;
  background-color: #f7faff;
  border-radius: 10px;
}
#personalCareForm {
  display: flex;
  flex-wrap: wrap;
}
#personcareFormWrapper {
  display: flex;
}
.view-personalcare {
  display: flex;
  justify-content: space-between;
}
.personalcareInputfield {
  width: 300px;
}
.personlCareTextarea {
  width: 600px;
}

.personlCareTextarea.form-control {
  height: 200px;
  width: 980px;
}

.personalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  gap: 100px;
  cursor: pointer;
}
.previousBtn {
  margin-top: 4px;
}
.personcareInfo {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(82, 102, 141);
}
.personcareInfo > h1 {
  font-size: 30px;
  color: coral;
  text-align: center;
}
@media (min-width: 820px) and (max-width: 1024px) {
  .personlCareTextarea {
    width: 670px;
  }
  .personalcareInputfield {
    width: 330px;
  }
  #personalCareForm {
    display: flex;
    /* flex-direction: column; */
  }
  .personlCareTextarea.form-control {
    height: 200px;
    width: 670px;
  }
}
@media (min-width: 757px) and(max-width: 1180px) {
  .personlCareTextarea.form-control {
    height: 200px;
    width: 350px;
  }
  .personalcareInputfield {
    width: 350px;
  }
  #personalCareForm {
    display: block;
    /* flex-direction: column; */
  }
  .personcareInfo > h1 {
    text-align: left;
  }
}
