.personcare-maincontainer {
  display: flex;
}
#personalCareForm {
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: column; */
}
#personcareFormWrapper {
  display: flex;
}
.view-personalcare {
  display: flex;
  justify-content: space-between;
}
.personalcareInputfield {
  width: 300px;
}
.personlCareTextarea {
  width: 100%;
}
textarea.form-control {
  height: 400px;
}
.personalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  gap: 100px;
  cursor: pointer;
}
.previousBtn {
  margin-top: 4px;
}
.personcareInfo {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
.personcareInfo > h1 {
  font-size: 30px;
  color: coral;
}
@media (max-width: 800px) {
  .personlCareTextarea {
    width: 670px;
  }
  .personalcareInputfield {
    width: 330px;
  }
  #personalCareForm {
    display: flex;
    /* flex-direction: column; */
  }
}
@media (max-width: 757px) {
  .personlCareTextarea {
    width: 460px;
  }
  .personalcareInputfield {
    width: 460px;
  }
}
