.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.ObsInfo {
  display: flex;
  background-color: #f7faff;
  border-radius: 10px;
}
.obsLeft {
  flex: 1;
  margin-top: 50px;
}
.obsRight {
  flex: 3;
  margin-left: 30px;
}
#personalCareForm {
  margin-left: 10px;
}
.obsPatientImage {
  width: 300px;
  /* margin-top: 80px; */
  border-radius: 10px;
  margin-left: 10px;
}
/* #obsTextarea {
  height: 70px;
  width: 500px;
} */
.personlCareTextarea {
  width: 980px;
}
.obsRight > h3 {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  color: rgb(82, 102, 141);
}
@media (min-width: 820px) and (max-width: 1024px) {
  .ObsInfo {
    display: flex;
    flex-direction: column;
  }
  .obsLeft > .obsPatientImage {
    margin-left: 10px;
  }
  .obsRight {
    margin-left: 0;
    width: 100%;
  }
  .obsLeft {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .obsForm {
    margin-left: 10px;
  }
  .obsRight > h3 {
    margin-left: 10px;
  }
  textarea.form-control {
    height: 70px;
  }
}

@media (min-width: 757px) and(max-width: 1180px) {
  #personalCareForm {
    margin-left: 10px;
  }
  .personcareInfo {
    margin-left: 10px;
  }
  .obsPatientImage {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
}
