.home-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.homepage-image {
  width: 400px;
}
.loginFormField {
  width: 320px;
  border-radius: 10px;
}
.login-btn {
  border: none;
  width: 100px;
  background-color: deepskyblue;
  border-radius: 10px;
}
.login-btn:hover {
  background-color: deepskyblue;
  box-shadow: 3px 5px 3px;
  color: gainsboro;
}
.loginText {
  font-size: 15px;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
@media (min-device-width: 390px) and (max-width: 840px) {
  .homepage-image {
    width: 300px;
    margin-right: 50px;
  }
}
