.Topbar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  top: 0;
  box-sizing: border-box;
  background-color: #f7fafe;
  position: sticky;
  height: 80px;
  z-index: 999;
}
.navLogo {
  width: 150px;
}
.topBarImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.topbarImageContainer {
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#dropwonLIST {
  color: rgba(17, 21, 23, 0.455);
  padding-top: 0;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}
.nav-text {
  font-size: 16px;
  font-weight: 600;
}
.nav-text:hover {
  text-decoration: underline 1px solid dimgrey;
}

@media (min-width: 757px) and(max-width: 1180px) {
  .topbarImageContainer {
    display: flex;
  }
  #dropwonLIST {
    margin-left: 0;
    padding: 5px;
  }
}
@media (min-device-width: 390px) and (max-width: 757px) {
  .me-auto {
    display: none;
  }
}
