.foodTitle {
  text-align: center;
}
.foodchartListItem {
  border: 3px solid black;
}
.foodchart-image {
  width: 400px;
  height: 335px;
  border-radius: 10px;
  cursor: pointer;
}
.patiendetails {
  font-weight: 600;
  font-size: 20px;
  color: rgb(82, 102, 141);
}

.fluidLeft {
  flex: 1;
  margin-top: 50px;
}
.fluidRight {
  flex: 4;
  margin-left: 20px;
}
.fluidLeft > .fluidChart-image {
  width: 350px;
  height: 300px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.318);
}
#fluidForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 70px;
}
.fluidChartForm {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7faff;
  border-radius: 10px;
}
.fluidRight > h3 {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  color: rgb(82, 102, 141);
}
.foodFormWrapper {
  display: flex;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.FormLabel {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.772);
}
.forminput {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.foodchartBtn {
  display: flex;
  gap: 142px;
}
.submitAdmissionBtn {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: bisque;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.FluidchatCard {
  font-size: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(10, 57, 71, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(10, 57, 71, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(10, 57, 71, 0.14);
  transform: scale(1);
  background-color: #f7faff;
}
.backbtn-fowarbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 1.3rem;
  align-items: center;
  cursor: pointer;
}
.previousBtn {
  display: flex;
  align-items: center;
}
.fluidTr {
  border-bottom: 3px solid gray;
}
@media (max-width: 800px) {
  .inputField {
    width: 310px;
  }
  #fluidForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .fluidRight > h3 {
    text-align: left;
  }

  #fluidForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  .foodFormWrapper {
    display: flex;
  }
  .fluidLeft {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-right: 55px;
  }
  .ViewBtn {
    margin-right: 50px;
  }
  .fluidLeft > img {
    width: 400px;
    height: 300px;
  }
  .fluidForm {
    margin-top: 0px;
  }
}
@media (min-device-width: 400px) and (max-width: 757px) {
  #foodChartImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  #form {
    display: block;
    width: 100%;
  }
  .foodchartBtn {
    display: flex;
    gap: 10px;
  }
  .inputField {
    width: 420px;
  }
  .foodFormWrapper {
    display: block;
  }

  .formTitle {
    text-align: start;
    margin-bottom: 5px;
  }
  .fluidLeft > .fluidChart-image {
    width: 200px;
    height: 200px;
  }
}
