.fluid-container {
  display: flex;
  flex-wrap: wrap;
}

#patient-history {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 5px 5px;
}
#form {
  margin-top: 70px;
}
#patient-details {
  border-radius: 10px;
  background-color: #f7faff;
  color: rgb(82, 102, 141);
  font-size: 20px;
  font-weight: 600;
}

#button {
  cursor: pointer;
  position: relative;
  margin: 2px;
  border-color: #ebebf0;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  background: #f0f4f7;
  color: rgb(139, 94, 94);
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
}
#detailsCard {
  padding: 1px;
  width: 200px;
  margin-left: 10px;
}
#patientDetails-img {
  width: 300px;
  height: 300px;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}
#primary {
  border: none;
  color: white;
  background-color: dimgrey;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 20px;
  margin-bottom: 10px;
}
#primary:hover {
  transform: scale(1, 1);
  box-shadow: 3px 3px 8px gray;
}
#discriptionCard {
  border-radius: 10px;
  background-color: #f7faff;
  margin-top: 10px;
  color: rgb(82, 102, 141);
}
.discriptionTitle {
  font-size: 30px;
  font-weight: 600;
  background-color: #f7faff;
  border: none;
  color: rgb(82, 102, 141);
}
.patientDetailsBadge {
  background-color: gray;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  bottom: 25px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .patientDetails-img {
    width: 400px;
  }
  .fluid-container {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    width: 100%;
  }
}
@media (min-device-width: 390px) and (max-width: 844px) {
  .patient-history {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .patientDetails-img {
    width: 100%;
  }
  #patient-details {
    border-radius: 20px;
  }
  .fluid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
  }
  #recordTask {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }
  .recordsBtn {
    border: 1px solid #1c6ea4;
    color: #eeeeee;
    width: 200px;
    background-color: #1c6ea4;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }
  #button {
    width: 145px;
  }
  #patient-history {
    display: flex;
    flex-direction: column;
  }
  #patientDetails-img {
    width: 100%;
  }
  #detailsCard {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-device-width: 390px) and (max-width: 757px) {
  .fluid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
}
