/* #foodChart {
  margin-left: 5px;
  margin-right: 5px;
} */
.foodchartListItem {
  border: 3px solid black;
}

.patiendetails {
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}

.left {
  flex: 1;
  margin-top: 50px;
}
.left > .foodchart-image {
  width: 350px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.318);
}
.right {
  flex: 4;
  margin-left: 20px;
}
#form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* gap: 10px; */
}
.foodChartForm {
  background-color: #f7faff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.FormLabel {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  /* color: rgb(143, 132, 132); */
}

#submitAdmissionBtn {
  cursor: pointer;
  text-align: center;
  margin: 2px;
  width: 150px;
  margin-top: 10px;
  border-color: gray;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  background: #e8e8ed;
  color: #000;
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
}
#foodChartRecord {
  font-size: 20px;
  /* margin-top: 70px; */
  margin-top: 10px;
}
.foorChartTable {
  /* -webkit-box-shadow: -11px 3px 35px -10px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -11px 3px 35px -10px rgba(0, 0, 0, 0.62);
  box-shadow: -11px 3px 35px -10px rgba(0, 0, 0, 0.62); */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(178, 183, 184, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(178, 183, 184, 1);
  box-shadow: 2px 3px 5px 0px rgba(178, 183, 184, 1);
  background-color: rgba(240, 248, 255, 0.561);
  border: 3px solid gray;
  transform: scale(1.05);
  /* background-color: #bdcad7; */
}
.tr-food {
  border-bottom: 3px solid gray;
}
.td {
  border-bottom: 3px solid gray;
}

#personalBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.previousBtn {
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
}
.Link:hover {
  text-decoration: none;
}
.toast {
  position: "top";
  color: green;
}
.foodSelect {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tabelBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
}
.formWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.right > h3 {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  color: rgb(82, 102, 141);
}
.FoodchatCard {
  border: none;
  /* background-color: #f5f5f7; */
  /* background: rgba(242, 246, 248, 1); */
  background-color: #f7faff;
  color: #08193e;
  font-size: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(10, 57, 71, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(10, 57, 71, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(10, 57, 71, 0.14);
  transform: scale(1);
}
.text-center {
  border-bottom: none;
  background: none;
  color: #f79852;
}
.formTitle {
  text-align: center;
  margin-bottom: 0;
}
table.blueTable {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td,
table.blueTable th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #d0e4f5;
}
table.blueTable thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(
    top,
    #5592bb 0%,
    #327cad 66%,
    #1c6ea4 100%
  );
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
.tableBtn {
  cursor: pointer;
}
.foodSelect {
}
.foodchartBtn {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
@media (min-width: 820px) and (max-width: 1024px) {
  .inputField {
    width: 300px;
  }
  #form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 5px; */
  }
  .formTitle {
    font-size: 25px;
    /* color: gray; */
  }
  .foodFormWrapper {
    display: flex;
  }
  .left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-right: 50px;
  }
  .ViewBtn {
    margin-right: 50px;
  }
  .left > img {
    width: 400px;
    height: 300px;
  }
  .foodChartForm {
    margin-top: 0px;
  }
  .foodchartBtn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
@media (min-width: 757px) and(max-width: 1180px) {
  .left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  #form {
    display: block;
    width: 100%;
  }
  .foodchartBtn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .inputField {
    width: 400px;
  }
  .foodFormWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .formTitle {
    text-align: start;
    margin-bottom: 5px;
  }
  .left > .foodchart-image {
    width: 200px;
    height: 200px;
  }
  .blueTable {
    display: none;
  }
  .inputField {
    width: 100px;
  }
}

@media (min-device-width: 390px) and (max-width: 757px) {
  .foodFormWrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .inputField {
    width: 300px;
  }
  #form {
    display: block;
    width: 100%;
    margin-top: 0;
  }
  .ViewBtn {
    margin-right: 40px;
  }
  .left > .foodchart-image {
    width: 300px;
    height: 250px;
  }
}
