body {
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: rgb(29, 29, 31);
  font-style: normal;
  background: rgba(235, 233, 249, 1);
  background: -moz-linear-gradient(
    left,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 0.95) 27%,
    rgba(206, 199, 236, 0.91) 51%,
    rgba(193, 191, 234, 0.82) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(235, 233, 249, 1)),
    color-stop(27%, rgba(216, 208, 239, 0.95)),
    color-stop(51%, rgba(206, 199, 236, 0.91)),
    color-stop(100%, rgba(193, 191, 234, 0.82))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 0.95) 27%,
    rgba(206, 199, 236, 0.91) 51%,
    rgba(193, 191, 234, 0.82) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 0.95) 27%,
    rgba(206, 199, 236, 0.91) 51%,
    rgba(193, 191, 234, 0.82) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 0.95) 27%,
    rgba(206, 199, 236, 0.91) 51%,
    rgba(193, 191, 234, 0.82) 100%
  );
  background: linear-gradient(
    to right,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 0.95) 27%,
    rgba(206, 199, 236, 0.91) 51%,
    rgba(193, 191, 234, 0.82) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
  /* background: rgba(64, 82, 50, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(64, 82, 50, 1) 0%,
    rgba(19, 36, 5, 0.64) 81%,
    rgba(19, 36, 5, 0.55) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(64, 82, 50, 1)),
    color-stop(81%, rgba(19, 36, 5, 0.64)),
    color-stop(100%, rgba(19, 36, 5, 0.55))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(64, 82, 50, 1) 0%,
    rgba(19, 36, 5, 0.64) 81%,
    rgba(19, 36, 5, 0.55) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(64, 82, 50, 1) 0%,
    rgba(19, 36, 5, 0.64) 81%,
    rgba(19, 36, 5, 0.55) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(64, 82, 50, 1) 0%,
    rgba(19, 36, 5, 0.64) 81%,
    rgba(19, 36, 5, 0.55) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(64, 82, 50, 1) 0%,
    rgba(19, 36, 5, 0.64) 81%,
    rgba(19, 36, 5, 0.55) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405232', endColorstr='#132405', GradientType=1 ); */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
